body {
    max-width: 1920px;
    margin: auto;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}
.frontpage{
    background-color: aqua; 
    margin: 0px 200px;
    padding: 12px 180px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 0px;
}

.header-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.header-link {
    display: flex;
    gap: 24px;
}

.button {
    background-color: darkblue; /* dark blue */
    border: none;
    border-radius: 16px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    max-width: 150px;
  }
  .ro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-img {
    margin-top: 100px;
    height: auto;
    max-width: 400px;
}
section {
    padding-bottom: 200px;
}
.secondpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;
    background-color: beige;

}

.img-squares {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.img1 {
    width: 50%;
    border: 5px rgba(71, 61, 139, 0.685) solid;
    border-radius: 16px;
    padding: 10px;
    max-width: 300px;
}

figure {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  figcaption {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .quotepage {
    display: flex;
    flex-direction: column;
    margin: 0px 200px;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }

  span {
    align-self: flex-end;
  }

.bluebackground {
    display: flex;

    max-width: 800px;
    border-radius: 40px;
    padding: 100px 300px;
    background-color: rgb(80, 133, 248);
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    color: aliceblue;
    gap: 200px;
}



.invert-button {
    background-color: white; /* dark blue */
    border: none;
    border-radius: 16px;
    color: blue;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    max-width: 300px;
  }
  .centering{
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .footer-section {
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    margin: auto 200px;

  }